.category_wrapper {
  padding: 70px 0px;
  background-color: #01060f;
  .category_main {
    position: relative;
    h1 {
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-size: 50px;
      font-style: italic;
      font-weight: 800;
      line-height: 32px;
      text-transform: capitalize;
      text-align: center;

      @media (max-width: 767px) {
        font-size: 40px;
      }
      @media (max-width: 481px) {
        line-height: 50px;
      }
    }
    .slider_wrapper {
      margin-top: 70px;
      .slider_item {
        display: flex !important;
        justify-content: center !important;
        .slider_info {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .category_image {
            position: relative;
            padding: 5px;
            transition: 0.5s ease-in-out;
            .product_image {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              img {
                width: 200px;
                height: auto;
                transition: 0.5s ease-in-out;
              }
              h6 {
                display: none;
                color: #fff;
                text-align: center;
                font-size: 22px;
                font-style: italic;
                font-weight: 700;
                line-height: 32px;
                text-transform: uppercase;
              }
              p {
                display: none;
                color: #fff;
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                line-height: 23px;
                text-transform: capitalize;
              }
            }
          }
          .product_title {
            color: #fff;
            font-family: "Montserrat", sans-serif;
            font-size: 24px;
            font-style: italic;
            font-weight: 700;
            line-height: 32px;
            text-transform: uppercase;
            margin: 20px 0;
            text-align: center;
          }
          .shopnow_btn {
            width: 210px;
            height: 52px;
            border-radius: 4px;
            border: 1px solid #fff;
            color: #fff;
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            font-style: italic;
            font-weight: 800;
            line-height: 32px;
            text-transform: capitalize;
            background: transparent;
            transition: 0.5s ease-in-out;
            margin-top: 10px;
          }
        }
        &:hover {
          cursor: pointer;
          .shopnow_btn {
            border-radius: 4px;
            border: 1px solid #0ceaef;
            background: #0ceaef;
            transition: 0.5s ease-in-out;
          }
          .category_image {
            background-color: #0ceaef;
            transition: 0.5s ease-in-out;
            .product_image {
              width: 100%;
              padding: 0 20px;
              img {
                width: 150px;
                height: auto;
                margin: auto;
                transition: 0.5s ease-in-out;
              }
              h6 {
                display: block;
              }
              p {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
              }
            }
          }
        }
      }

      .btn_div {
        display: flex;
        position: absolute;
        left: -40px;
        top: 300px;
        @media (max-width: 768px) {
          display: none;
        }
        .nextbtn {
          width: 42px;
          height: 42px;
          border-radius: 50%;
          color: #28d5da !important;
          border: 1px solid #28d5da;
          background-color: transparent;

          &:hover {
            background-color: #28d5da;
            i {
              color: #01060f !important;
            }
          }
        }
      }
      .btn_div2 {
        display: flex;
        position: absolute;
        right: -40px;
        top: 300px;
        @media (max-width: 768px) {
          display: none;
        }
        .nextbtn {
          width: 42px;
          height: 42px;
          border-radius: 50%;
          color: #28d5da !important;
          border: 1px solid #28d5da;
          background-color: transparent;
          &:hover {
            background-color: #28d5da;
            i {
              color: #01060f !important;
            }
          }
        }
      }
    }
  }
}

.light_category_wrapper {
  background-color: #fff;
  .category_main {
    h1 {
      color: #000;
    }
    .slider_wrapper {
      .slider_item {
        .slider_info {
          .category_image {
            .product_image {
              h6 {
                color: #fff;
              }
              p {
                color: #fff;
              }
            }
          }
          .product_title {
            color: #000;
          }
          .shopnow_btn {
            border: 1px solid #000;
            color: #000;
          }
        }
        &:hover {
          .shopnow_btn {
            border: 1px solid #0ceaef;
            background: #1da1f2;
            color: #fff;
          }
          .category_image {
            background-color: #1da1f2;
          }
        }
      }

      .btn_div {
        .nextbtn {
          color: #1da1f2 !important;
          border: 1px solid #1da1f2;
          &:hover {
            background-color: #1da1f2;
            i {
              color: #fff !important;
            }
          }
        }
      }
      .btn_div2 {
        .nextbtn {
          color: #1da1f2 !important;
          border: 1px solid #1da1f2;
          &:hover {
            background-color: #1da1f2;
            i {
              color: #fff !important;
            }
          }
        }
      }
    }
  }
}
